body {
  background-color: #14233c;
}

.a11y-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.text-to-install {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .text-to-install {
    justify-content: flex-start;
  }
}
